:root {
    --yellow-color: #ffc500;
    --red-color: #fa005a;
    --purple-color: #520044;
    --white-color: #fff;
    --nextra-primary-hue: 46;
    --nextra-primary-saturation: 100%;

}

strong {
    color: var(--red-color);
}

.link {
    color: var(--yellow-color);
}

.container {
    display: flex;
    gap: 20px;
    max-width: 360px;
    margin: 50px auto;
}

.container--wide {
    width: 55%;
    justify-content: space-between;
    align-items: center;
}

.container img {
    height: 200px;
}

.image-profile {
    max-width: 150px;
}

.container .image-profile  {
    height: unset;
}

.image--circle {
    border-radius: 50%;
}

.container .profile {
    font-size: 20px;
}

.container h3 {
    font-weight: bold;
    font-size: 25px;
}

.heading {
    font-weight: bold;
    font-size: 25px;
}

.button {
    cursor: pointer;
    align-items: center;
    -webkit-appearance: none;
    background-color: var(--purple-color);
    border: 1px solid var(--purple-color);
    border-radius: 3px;
    box-sizing: content-box;
    color: var(--white-color);
    display: inline-flex;
    font-size: 12px;
    font-weight: 600;
    font-family: inherit;
    justify-content: center;
    letter-spacing: .15px;
    line-height: 16px;
    margin: 0;
    min-height: 18px;
    outline: none;
    padding: 7px 18px;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 300ms;
    transition-property: background-color,border-color,color;
    vertical-align: top;
}

.button–-disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}

blockquote {
    margin: 20px 0;
}

blockquote p {
    padding: 15px;
    background: rgba(15, 86, 198, 0.15);
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}